nav {
    display: flex;
    justify-content:right;
    background-color: #000000;
    padding: 0rem;
}
nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
    margin-right: 20px;
}
nav ul li {
    color: white;
    font-size: 2rem;
}
nav ul li:hover {
    color: #e70909;
    cursor: pointer;
}